@use '@styles/functions' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.skills {
  &__container {
    padding-top: 46px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include responsive(xs) {
      padding-bottom: 70px;
    }
  }

  &__hr {
    margin-top: 43px;
  }
}

.skills-list {
  padding: 0;
  margin: 95px 0 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  width: 100%;

  &__title {
    margin: 0;
    font: $t1;
    line-height: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    @include theme-style('theme-light') {
      color: $light-fc-second;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.hard-skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  &__item {
    background-color: $link-active;
    padding: 10px;
    border-radius: 6px;
    font: $t1;
    line-height: 30px;
    text-transform: uppercase;
    color: $dark-fc-primary;
    white-space: nowrap;
  }
}