@use '@styles/variables' as *;

.header {
  height: 115px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5ebf2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 948px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font: $h1;
    margin-bottom: 5px;

    h1 {
      font-size: inherit;
    }
  }
}
