@use 'functions' as *;

//Common styles
$t1: font(17px);
$h1: font(26px, 800);
$h2: font(26px, 800);
$link-active: #8428f8;

//Light theme
$light-bg-primary: #ffffff;
$light-bg-second: #f9fbfd;
$light-fc-primary: #141c3a;
$light-fc-second: #535e88;
$light-icon-color: #141c3a;
$light-hr-color: #dcdcde;
$light-pb-color: #dfe5eb;
$light-burger-line: #141c3a;

//Dark theme
$dark-bg-primary: #141c3a;
$dark-bg-second: #1d274f;
$dark-fc-primary: #f9fbfd;
$dark-fc-second: #dcdcde;
$dark-icon-color: #f9fbfd;
$dark-hr-color: #535e88;
$dark-pb-color: #535e88;
$dark-burger-line: #f9fbfd;
