@use 'mixins' as *;

@import 'fonts';

@import 'common';
//Components Styles
@import 'components';

//Theme
@import 'theme';

//Language
@import 'language';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.8s;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 43%, 0.533);
    border-radius: 100px;
  }
}

#about,
#skills,
#education,
#projects,
#cv {
  scroll-margin-top: 115px;
  @include responsive(xs, sm) {
    scroll-margin-top: 80px;
  }
}
