@use 'mixins' as *;

@import 'fonts';

@import 'common';
//Components Styles
@import 'components';

//Theme
@import 'theme';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.8s;
}

#about,
#skills {
  scroll-margin-top: 115px;
  @include responsive(xs) {
    scroll-margin-top: 80px;
  }
}
