@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.nav {
  @include responsive(xs) {
    @include theme-style('theme-light') {
      background-color: $light-bg-primary;
    }
    @include theme-style('theme-dark') {
      background-color: $dark-bg-primary;
    }
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    transition: transform 0.3s;
  }
  @include responsive(sm) {
    margin: 0;
  }

  &_active {
    transform: translateY(0);
  }
}

.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
  @include responsive(xs) {
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    color: inherit;
    font: $t1;
    text-decoration: none;
    padding: 15px 16px;
    transition: transform 0.3s;
    @include responsive(xs) {
      text-transform: uppercase;
    }

    &:hover {
      color: $link-active;
      text-shadow: 0.4px 0px 0 $link-active, -0.4px 0px 0 $link-active,
        0px 0.4px 0 $link-active, 0px -0.4px 0 $link-active;
      transform: scale(1.125);
      transition: transform 0.3s;
    }
  }
}
